@model Better.Models.Post
@using Better.Models
@using Better.Models.Constants


<div class="card gedf-card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
                <div class="mr-2">
                    <img class="rounded-circle" width="45" src="https://www.marismith.com/wp-content/uploads/2014/07/facebook-profile-blank-face.jpeg" alt="">
                </div>
                <div class="ml-2">
                    <div class="h5 m-0">@Model.User.Username</div>
                    <div class="h7 text-muted">@Model.User.Email</div>
                </div>
            </div>
            <div>
                @*<div class="dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                        <div class="h6 dropdown-header">Configuration</div>
                        <a class="dropdown-item" href="#">Save</a>
                        <a class="dropdown-item" href="#">Hide</a>
                        <a class="dropdown-item" href="#">Report</a>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>Posted at @Model.CreationDate.ToLongDateString()</div>
        <a class="card-link" href="#">
            @{
                var img = new FileInfo(Model.Content);
                if (Model.Type == 0)
                {
                    <h5 class="card-title">@Model.Content</h5>
                }
                else if (Model.Type == 1)
                {
                    <img src="@Url.Content(String.Format("~/Content/{0}/{1}", Model.UserId, img.Name))" />
                }
                else if (Model.Type == 2)
                {
                    <video src="@Url.Content(String.Format("~/Content/{0}/{1}", Model.UserId, img.Name))" controls preload="auto" />
                }
                else if (Model.Type == 3)
                {
                    <audio src="@Url.Content(String.Format("~/Content/{0}/{1}", Model.UserId, img.Name))" controls preload="auto" />
                }
            }



            @{ 
                User creatorInSession = SessionData.Get<User>
                (Better.Models.Constants.Session.CurrentUser);

                if (creatorInSession != null && creatorInSession.Id == Model.UserId)
                {
                    @Html.ActionLink("Delete", "DeletePost", "User", new { postId = Model.PostId }, null);
                }
            }
</a>

        @*<p class="card-text">
            @Model.Content
        </p>*@
    </div>
</div>
<!-- Post /////-->  